Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all --
  language: system
  pass_filenames: true

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -D clippy::all
  pass_filenames: false
  language: system

cargo-deny:
  name: check Cargo dependencies
  description: check Cargo dependencies
  entry: cargo deny
  language: rust
  pass_filenames: false
  args:
  - --all-features
  - check

set wrap length
  .pre-commit-config.yaml
  paper/main.md
Due: none

intro
  paper/main.md
  paper/main.pdf
Due: none

image test
  paper/main.md
  paper/main.pdf
Due: none

Publish metadata
  Cargo.lock
  Cargo.toml
Due: cargo-deny

precommit hook
  .pre-commit-config.yaml
  paper/assets/chicago-author-date.csl
  paper/assets/pandoc_filter.lua
  paper/assets/zotero.bib
  paper/build.sh
  paper/main.md
  paper/main.pdf
Due: none

Add db_uuid to operation hash
  src/operation_management.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy

check for pandoc
  paper/build.sh
  paper/main.pdf
Due: none

testing hook
  paper/main.md
Due: none

modified filter
  .pre-commit-config.yaml
  paper/main.md
Due: none

removed build from precommit hook
  paper/build.sh
  paper/main.md
  paper/main.pdf
Due: none

remove build.sh from precommit hook
  .pre-commit-config.yaml
  paper/main.md
Due: none

benchmark
  bin/benchmark.sh
  paper/main.md
Due: none

retry hook
  .pre-commit-config.yaml
  paper/main.md
  paper/main.pdf
Due: none

pandoc hook test
  paper/main.md
Due: none

Fixed
  .pre-commit-config.yaml
  paper/main.md
Due: none

Removed metadata header so mdformat doesn't break the files
  .pre-commit-config.yaml
  paper/assets/pandoc_metadata.yaml
  paper/build.sh
  paper/main.md
  paper/main.pdf
Due: none

full pre-commit hook test
  paper/main.md
  paper/main.pdf
Due: none

tex preamble hack
  paper/assets/pandoc_metadata.yaml
  paper/assets/pandoc_preamble.tex
  paper/build.sh
  paper/main.md
  paper/main.pdf
Due: none

dot hook
  .pre-commit-config.yaml
  paper/build.sh
  paper/figures/figure_1.dot
  paper/figures/figure_1.png
  paper/main.pdf
Due: none

crude prototype
  Cargo.lock
  Cargo.toml
  fixtures/P14779.fasta
  fixtures/protein_layout.csv
  fixtures/protein_segments.fa
  src/main.rs
  src/views.rs
  src/views/block_group.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy, cargo-deny

Add benchmark command
  bin/benchmark.sh
Due: none

Update benchmarks
  paper/main.md
  paper/main.pdf
Due: none

doublewidth tables
  paper/assets/pandoc_preamble.tex
  paper/main.pdf
Due: none

Placeholders
  paper/main.md
  paper/main.pdf
Due: none

back to one column
  paper/assets/pandoc_metadata.yaml
  paper/assets/pandoc_preamble.tex
  paper/build.sh
  paper/main.pdf
Due: none

Minor improvements
  src/graph.rs
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Add command for derive subgraph
  src/graph_operators.rs
  src/lib.rs
  src/main.rs
  src/models/file_types.rs
Due: rustfmt, rust-clippy

Initial code and unit tests
  src/graph.rs
  src/imports/gfa.rs
  src/models/block_group.rs
  src/models/edge.rs
Due: rustfmt, rust-clippy

Some comments
  src/models/block_group.rs
Due: rustfmt, rust-clippy

table captions
  paper/main.pdf
Due: none

table captions
  paper/build.sh
  paper/main.md
Due: none

tuning example to work better
  examples/yeast_crosses/Analysis.md
Due: none

gitignore
  .gitignore
Due: none

derive-subgraph run
  examples/yeast_crosses/Analysis.md
Due: none

Remove check on block count
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Update graph sections finish
  paper/main.md
  paper/main.pdf
Due: none

Fix graph overview figure
  paper/graph_model/final.svg
  paper/graph_model/gen_graph.svg
  paper/graph_model/segment_graph.svg
  paper/main.md
  paper/main.pdf
Due: none

Figure setup
  paper/build.sh
  paper/main.md
  paper/main.pdf
Due: none

Update fig
  paper/graph_model/final.svg
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock) and \.toml$
