Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all --
  language: system
  pass_filenames: true

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -D clippy::all
  pass_filenames: false
  language: system

cargo-deny:
  name: check Cargo dependencies
  description: check Cargo dependencies
  entry: cargo deny
  language: rust
  pass_filenames: false
  args:
  - --all-features
  - check

detach
  docs/figures/generate_dot_files.ipynb
  docs/figures/operators.ipynb
  docs/graph_operators.md
Due: none

Figure width limits
  docs/graph_operators.md
Due: none

Improve checkout command
  src/imports/genbank.rs
  src/main.rs
  src/models/operations.rs
  src/operation_management.rs
  src/patch.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

Have get_by_hash use prefix match
  src/models/operations.rs
Due: rustfmt, rust-clippy

Add default gen db and collection
  src/main.rs
Due: rustfmt, rust-clippy

udpate thing
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

multilevel subcommands
  docs/graph_operators.md
Due: none

comment
  src/main.rs
Due: rustfmt, rust-clippy

Improve cli help messages
  src/main.rs
Due: rustfmt, rust-clippy

Some bug fixes discovered during demo prep
  src/config.rs
  src/gfa_reader.rs
  src/lib.rs
  src/main.rs
  src/models/block_group.rs
  src/models/node.rs
  src/operation_management.rs
Due: rustfmt, rust-clippy

rename detach
  docs/graph_operators.md
Due: none

Add GFA diff operation
  src/diffs.rs
  src/diffs/gfa.rs
  src/exports/gfa.rs
  src/gfa.rs
  src/lib.rs
  src/models/path.rs
Due: rustfmt, rust-clippy

Fix after rebase
  src/models/path.rs
Due: rustfmt, rust-clippy

Fix after rebase
  src/diffs/gfa.rs
  src/models/path.rs
Due: rustfmt, rust-clippy

Clarify testing
  Cargo.lock
  Cargo.toml
  src/diffs/gfa.rs
  src/gfa.rs
Due: rustfmt, rust-clippy, cargo-deny

Rename variables
  src/diffs/gfa.rs
Due: rustfmt, rust-clippy

Fix tests, remove unneeded panics, add new test
  src/diffs/gfa.rs
  src/exports/gfa.rs
  src/models/path.rs
Due: rustfmt, rust-clippy

Refactor, handle unshared block groups
  src/diffs/gfa.rs
Due: rustfmt, rust-clippy

Undo coordinate change
  src/models/path.rs
Due: rustfmt, rust-clippy

Address comments
  src/diffs/gfa.rs
Due: rustfmt, rust-clippy

Add command to update with GFA
  src/gfa.rs
  src/imports/gfa.rs
  src/main.rs
  src/updates.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Better ux for operations and update with vcf
  src/main.rs
Due: rustfmt, rust-clippy

Enable sample creation in imports
  src/annotations/gff.rs
  src/exports/fasta.rs
  src/exports/genbank.rs
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/imports/gfa.rs
  src/main.rs
  src/operation_management.rs
  src/patch.rs
  src/updates/fasta.rs
  src/updates/genbank.rs
  src/updates/library.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Add test
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/models/sample.rs
Due: rustfmt, rust-clippy

Add test
  src/imports/gfa.rs
Due: rustfmt, rust-clippy

Warn
  src/imports/genbank.rs
Due: rustfmt, rust-clippy

Setup progress bar for vcf update
  Cargo.lock
  Cargo.toml
  src/updates/vcf.rs
Due: rustfmt, rust-clippy, cargo-deny

porting from notebook
  docs/graph_operators.md
Due: none

superset operation
  docs/graph_operators.md
Due: none

Fancier progress
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Move progress bar to one place
  src/lib.rs
  src/progress_bar.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Add more progress bars
  src/gfa_reader.rs
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/imports/gfa.rs
  src/progress_bar.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

warnings
  src/imports/fasta.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

tweaks
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/models/block_group.rs
  src/models/edge.rs
  src/models/node.rs
  src/models/path_edge.rs
  src/progress_bar.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

cosmetics
  src/imports/fasta.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

reworked attach/detach
  docs/figures/figure_1.svg
  docs/figures/figure_2.svg
  docs/figures/figure_2_symmetrical.svg
  docs/figures/generate_dot_files.ipynb
  docs/figures/operators.ipynb
  docs/figures/operators/attach-union.png
  docs/figures/operators/detach-attach.png
  docs/figures/operators/intersect-union-difference.png
  docs/figures/operators/split_left.png
  docs/figures/operators/split_right_both.png
  docs/figures/operators/stitches.png
  docs/figures/operators/subgraph-supergraph.png
  docs/figures/operators/supergraph-union.png
  docs/figures/operators/superset-union.png
  docs/figures/python_module/genfig/graph.py
  docs/figures/scaffold_edges.png
  docs/graph_operators.md
Due: none

rebase after reset - following chris' post
  .gitignore
  docs/figures/figure_1.dot
  docs/figures/figure_1.svg
  docs/figures/figure_2.dot
  docs/figures/figure_2_symmetrical.svg
  docs/figures/generate_dot_files.ipynb
  docs/figures/operators.ipynb
  docs/figures/operators/intersect-union-difference.png
  docs/figures/operators/scaffold_edges.png
  docs/figures/operators/split_left.png
  docs/figures/operators/split_right_both.png
  docs/figures/operators/stitch_before.dot
  docs/figures/operators/stitch_both.dot
  docs/figures/operators/stitch_left.dot
  docs/figures/operators/stitch_right.dot
  docs/figures/operators/stitch_split.dot
  docs/figures/operators/stitches.png
  docs/figures/operators/subgraph-supergraph.png
  docs/figures/operators/supergraph-union.png
  docs/figures/operators/superset-union.png
  docs/figures/protein_figure_1.svg
  docs/figures/python_module/genfig/__init__.py
  docs/figures/python_module/genfig/graph.py
  docs/figures/python_module/setup.py
  docs/graph_operators.md
  examples/protein_engineering/O08336.fasta
  examples/protein_engineering/O08394.fasta
  examples/protein_engineering/P14779.fasta
  examples/protein_engineering/P450_chimera.gfa
  examples/protein_engineering/msa_crossover.py
  examples/protein_engineering/output/layout.csv
  examples/protein_engineering/output/segments.fa
  examples/protein_engineering/parents.fa
  examples/protein_engineering/parents_aligned.fa
Due: none

make chunks
  docs/graph_operators.md
Due: none

Update graph_operators.md
  docs/graph_operators.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock) and \.toml$
