Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- 
        language: system
        types: [file, rust]
        pass_filenames: true
      - id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -D clippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo deny
        language: rust
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--all-features", "check"]

Make chunks
  docs/graph_operators.md
Due: none

wrap text
  docs/graph_operators.md
Due: none

Typo, clarity
  docs/graph_operators.md
Due: none

patch view poc
  src/config.rs
  src/graph.rs
  src/lib.rs
  src/main.rs
  src/models/node.rs
  src/operation_management.rs
  src/patch.rs
  src/views.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy

manual dot format
  src/views/patch.rs
Due: rustfmt, rust-clippy

tutorial + kitty support
  docs/figures/python_module/genfig/__init__.py
  docs/figures/python_module/genfig/graph.py
  docs/figures/python_module/setup.py
Due: none

tutorial + kitty support
  docs/figures/python_module/genfig/graph.py
  examples/visualization/genfig_tutorial.ipynb
Due: none

cleaned
  examples/visualization/genfig_tutorial.ipynb
Due: none

bob copy
  src/views/patch.rs
Due: rustfmt, rust-clippy

Fix coordinates
  src/views/patch.rs
Due: rustfmt, rust-clippy

fix math
  src/views/patch.rs
Due: rustfmt, rust-clippy

more cosmetics
  src/views/patch.rs
Due: rustfmt, rust-clippy

Fix op nodes
  src/operation_management.rs
Due: rustfmt, rust-clippy

Cleanup
  src/lib.rs
  src/models/node.rs
  src/operation_management.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy

Cleanup
  src/operation_management.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy

Generate dots
  src/main.rs
Due: rustfmt, rust-clippy

Set patch view default name
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy, cargo-deny

Compile out progress bar for tests
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/imports/gfa.rs
  src/progress_bar.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Move ProgressDrawTarget to cfg include
  src/progress_bar.rs
Due: rustfmt, rust-clippy

Handle CNV notation
  fixtures/simple_cnv.vcf
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Move code
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

better logic
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Minor fixes to docs + drawing logic
  src/main.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy

Fix comment
  src/views/patch.rs
Due: rustfmt, rust-clippy

1 liners
  src/operation_management.rs
Due: rustfmt, rust-clippy

comment
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Add command to call gfa diff
  src/main.rs
Due: rustfmt, rust-clippy

Add unit test for processing walks, and rename GFA parsing field names that were poorly named
  fixtures/walk-diff.gfa
  src/gfa_reader.rs
  src/imports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Add command to update with GFA
  src/gfa.rs
  src/imports/gfa.rs
  src/main.rs
  src/updates.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Fixes after testing with e coli parent/child
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Fix after rebase
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Final improvements
  src/gfa_reader.rs
  src/imports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Address comments
  fixtures/path-diff.gfa
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Print if no operation is found
  src/main.rs
Due: rustfmt, rust-clippy

reformat
  paper/main.md
Due: none

Scaffold
  paper/main.md
Due: none

Add section on translating coordinates and patches
  paper/dot_example/final.svg
  paper/dot_example/iterative.svg
  paper/dot_example/library.svg
  paper/main.md
Due: none

fix link
  paper/main.md
Due: none
