Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- 
        language: system
        types: [file, rust]
        pass_filenames: true
      - id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -D clippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo deny
        language: rust
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--all-features", "check"]

warnings
  src/annotations/gff.rs
  src/exports/fasta.rs
  src/imports/fasta.rs
  src/main.rs
  src/operation_management.rs
  src/patch.rs
  src/updates/fasta.rs
  src/updates/library.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

fix tests
  src/imports/fasta.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

chimeric proteins (running into bug on plot)
  docs/figures/generate_dot_files.ipynb
  out.gfa
Due: none

Fixes after rebase
  docs/figures/generate_dot_files.ipynb
  docs/figures/protein_figure_1.dot
  docs/figures/protein_figure_1.svg
  examples/protein_engineering/Analysis.md
  examples/protein_engineering/P450_chimera.svg
  examples/protein_engineering/P450_chimera_fixed.svg
  examples/protein_engineering/my_library.gfa
  examples/protein_engineering/translation_table.txt
Due: none

Add check comparing sequences
  src/patch.rs
Due: rustfmt, rust-clippy

Genbank parser scaffold
  Cargo.lock
  Cargo.toml
  src/imports.rs
  src/imports/genbank.rs
Due: rustfmt, rust-clippy, cargo-deny

Update deny
  Cargo.lock
  Cargo.toml
  deny.toml
  src/imports/genbank.rs
Due: rustfmt, rust-clippy, cargo-deny

Warning fix
  src/imports/genbank.rs
Due: rustfmt, rust-clippy

Uncovered a few bugs in update
  docs/figures/generate_dot_files.ipynb
  examples/protein_engineering/Analysis.md
  examples/protein_engineering/saturation_layout_triple.csv
Due: none

Use edge_ids everywhere
  src/models/path.rs
Due: rustfmt, rust-clippy

Test one more validation
  src/models/path.rs
Due: rustfmt, rust-clippy

Add validations on edges when creating a path
  src/models/path.rs
  src/operation_management.rs
Due: rustfmt, rust-clippy

More edge_ids use
  src/models/path.rs
Due: rustfmt, rust-clippy

Add cli for genbank import
  src/imports/genbank.rs
  src/main.rs
Due: rustfmt, rust-clippy

Test string normalize
  src/lib.rs
Due: rustfmt, rust-clippy

fix figures
  docs/figures/figure_1.dot
  docs/figures/figure_1.svg
  docs/figures/generate_dot_files.ipynb
  examples/liftover_annotations/U00004.fasta
  examples/liftover_annotations/U00004.gff
Due: none

remove unicode elipsis
  docs/figures/generate_dot_files.ipynb
  docs/figures/protein_figure_1.dot
  docs/figures/protein_figure_1.svg
Due: none

Remove unicode elipsis
  docs/figures/generate_dot_files.ipynb
Due: none

Fix github formatting
  docs/figures/generate_dot_files.ipynb
  docs/figures/protein_figure_1.dot
  docs/figures/protein_figure_1.svg
Due: none

Regenerate figures
  docs/figures/generate_dot_files.ipynb
Due: none

Convert panics to asserts
  src/models/path.rs
Due: rustfmt, rust-clippy

Add operation for genbank
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/main.rs
  src/models/file_types.rs
  src/models/operations.rs
  src/operation_management.rs
  src/patch.rs
  src/test_helpers.rs
  src/updates/fasta.rs
  src/updates/gaf.rs
  src/updates/library.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Add error handling
  Cargo.lock
  Cargo.toml
  src/imports/fasta.rs
  src/imports/genbank.rs
  src/main.rs
  src/operation_management.rs
  src/patch.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy, cargo-deny

Require operation info
  src/imports/genbank.rs
Due: rustfmt, rust-clippy

Fix vcf error
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Add test for operation
  src/imports/genbank.rs
Due: rustfmt, rust-clippy

Add chromosome_index to nodes
  migrations/core/01-initial/up.sql
  src/exports/gfa.rs
  src/imports/fasta.rs
  src/imports/gfa.rs
  src/models/block_group.rs
  src/models/edge.rs
  src/models/node.rs
  src/models/path.rs
  src/operation_management.rs
  src/test_helpers.rs
  src/updates/fasta.rs
  src/updates/gaf.rs
  src/updates/library.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Move chromosome_index to block_group_edges
  migrations/core/01-initial/up.sql
  src/exports/gfa.rs
  src/graph.rs
  src/imports/fasta.rs
  src/imports/gfa.rs
  src/models/accession.rs
  src/models/block_group.rs
  src/models/block_group_edge.rs
  src/models/edge.rs
  src/models/node.rs
  src/models/path.rs
  src/operation_management.rs
  src/test_helpers.rs
  src/updates/fasta.rs
  src/updates/gaf.rs
  src/updates/library.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Fix after rebase
  migrations/core/01-initial/up.sql
  src/operation_management.rs
Due: rustfmt, rust-clippy

Fix tests
  src/operation_management.rs
Due: rustfmt, rust-clippy

Move phased to block group edge
  migrations/core/01-initial/up.sql
  src/exports/gfa.rs
  src/graph.rs
  src/imports/fasta.rs
  src/imports/gfa.rs
  src/models/block_group.rs
  src/models/block_group_edge.rs
  src/models/edge.rs
  src/operation_management.rs
  src/test_helpers.rs
  src/updates/fasta.rs
  src/updates/gaf.rs
  src/updates/library.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

Add back chromosome index to accession edges
  migrations/core/01-initial/up.sql
  src/models/accession.rs
  src/models/block_group.rs
  src/operation_management.rs
Due: rustfmt, rust-clippy

Fix after rebase
  src/imports/genbank.rs
  src/models/path.rs
  src/operation_management.rs
Due: rustfmt, rust-clippy

More rebase fixes
  src/models/path.rs
Due: rustfmt, rust-clippy

ranksep as argument
  docs/figures/figure_2.dot
  docs/figures/figure_2_symmetrical.dot
  docs/figures/generate_dot_files.ipynb
  docs/figures/protein_figure_1.dot
Due: none

Add a couple commands to list and show basic stuff
  examples/misc_commands/list-and-show.ipynb
  src/main.rs
  src/models/sample.rs
Due: rustfmt, rust-clippy

Use default collection
  examples/misc_commands/list-and-show.ipynb
  src/main.rs
Due: rustfmt, rust-clippy

Update dep
  Cargo.lock
  Cargo.toml
Due: cargo-deny
