Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- 
        language: system
        types: [file, rust]
        pass_filenames: true
      - id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -D clippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo deny
        language: rust
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--all-features", "check"]

Main text
  docs/figures/operators/intersect_input1.dot
  docs/figures/operators/intersect_input1.svg
  docs/figures/operators/intersect_input2.dot
  docs/figures/operators/intersect_input2.svg
  docs/figures/operators/intersect_output.dot
  docs/figures/operators/intersect_output.svg
  docs/figures/operators/merge_input.dot
  docs/figures/operators/merge_input.svg
  docs/figures/operators/merge_output.dot
  docs/figures/operators/merge_output.svg
  docs/graph_operations.md
  docs/graph_operators.md
Due: none

Fix notebooks
  docs/figures/generate_dot_files.ipynb
  docs/figures/operators.ipynb
Due: none

Unit tests, fix bug
  fixtures/design_reusing_parts.csv
  fixtures/single_column_design.csv
  src/updates/library.rs
Due: rustfmt, rust-clippy

extraction function in graph.py
  docs/figures/figure_1.dot
  docs/figures/figure_1.svg
  docs/figures/figure_2.dot
  docs/figures/figure_2.svg
  docs/figures/figure_2_symmetrical.dot
  docs/figures/figure_2_symmetrical.svg
  docs/figures/generate_dot_files.ipynb
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/extract_input.dot
  docs/figures/operators/extract_input.svg
  docs/figures/operators/extract_output.dot
  docs/figures/operators/extract_output.svg
  docs/figures/protein_figure_1.dot
  docs/figures/protein_figure_1.svg
Due: none

Comments
  src/exports/genbank.rs
  src/imports/genbank.rs
Due: rustfmt, rust-clippy

Add a couple commands to list and show basic stuff
  examples/misc_commands/list-and-show.ipynb
  src/main.rs
  src/models/sample.rs
Due: rustfmt, rust-clippy

Use default collection
  examples/misc_commands/list-and-show.ipynb
  src/main.rs
Due: rustfmt, rust-clippy

Update dep
  Cargo.lock
  Cargo.toml
Due: cargo-deny

Fix docs
  examples/externally_edited_files/geneious_engineering.md
Due: none

Address comments
  Cargo.lock
  src/main.rs
Due: rustfmt, rust-clippy

Update example notebook
  .gitignore
  examples/misc_commands/list-and-show.ipynb
Due: none

Refactor v0
  src/exports/genbank.rs
  src/genbank.rs
  src/lib.rs
  src/main.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

detach
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/detach.png
  docs/figures/operators/detach_input.dot
  docs/figures/operators/detach_input.png
  docs/figures/operators/detach_output.dot
  docs/figures/operators/detach_output.png
  docs/figures/operators/extract_input.svg
  docs/figures/operators/extract_output.dot
  docs/figures/operators/extract_output.svg
  docs/graph_operators.md
Due: none

Updates
  src/main.rs
  src/updates.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

Missing fixture
  fixtures/geneious_genbank/concat.gb
Due: none

attach
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/detach.png
Due: none

Tests of general method
  src/genbank.rs
Due: rustfmt, rust-clippy

Update docs
  examples/externally_edited_files/editor_without_plugins.md
  examples/externally_edited_files/geneious_engineering.md
Due: none

remove space
  src/exports/genbank.rs
Due: rustfmt, rust-clippy

More simplicity
  src/imports/genbank.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

warnings
  src/genbank.rs
Due: rustfmt, rust-clippy

format
  src/genbank.rs
Due: rustfmt, rust-clippy

Edit error type
  src/genbank.rs
Due: rustfmt, rust-clippy

Setup error
  examples/externally_edited_files/geneious_engineering.md
  src/genbank.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

full string
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

Handle error
  src/main.rs
Due: rustfmt, rust-clippy

comments
  src/imports/genbank.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

Fix some issues with update with library
  src/exports/gfa.rs
  src/updates/library.rs
Due: rustfmt, rust-clippy

union-intersect-difference
  docs/figures/figure_1.dot
  docs/figures/figure_1.png
  docs/figures/figure_1.svg
  docs/figures/generate_dot_files.ipynb
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/attach-union.png
  docs/figures/operators/detach-attach.png
  docs/figures/operators/detach.png
  docs/figures/operators/detach_input.dot
  docs/figures/operators/detach_input.png
  docs/figures/operators/detach_output.dot
  docs/figures/operators/detach_output.png
  docs/figures/operators/intersect-union-difference.png
  docs/figures/operators/intersect_input1.dot
  docs/figures/operators/intersect_input1.svg
  docs/figures/operators/intersect_input2.dot
  docs/figures/operators/intersect_input2.svg
  docs/figures/operators/intersect_output.dot
  docs/figures/operators/intersect_output.svg
  docs/figures/operators/merge_input.dot
  docs/figures/operators/merge_input.svg
  docs/figures/operators/merge_output.dot
  docs/figures/operators/merge_output.svg
  docs/figures/protein_figure_1.dot
  docs/figures/protein_figure_1.svg
Due: none

SeaQuery example
  Cargo.lock
  Cargo.toml
  src/models/block_group.rs
Due: rustfmt, rust-clippy, cargo-deny

rusqlite
  Cargo.lock
  Cargo.toml
  src/models/block_group.rs
Due: rustfmt, rust-clippy, cargo-deny

Set up and use phase layers to represent unphased alleles and pooled design parts
  migrations/core/01-initial/up.sql
  src/config.rs
  src/gfa_reader.rs
  src/lib.rs
  src/models.rs
  src/models/new_block_group_edge.rs
  src/models/phase_layer.rs
  src/updates/library.rs
Due: rustfmt, rust-clippy

split and stitch
  docs/figures/figure_1.dot
  docs/figures/figure_1.svg
  docs/figures/figure_2.dot
  docs/figures/figure_2.svg
  docs/figures/figure_2_symmetrical.dot
  docs/figures/figure_2_symmetrical.svg
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/attach-union.png
  docs/figures/operators/detach-attach.png
  docs/figures/operators/intersect-union-difference.png
  docs/figures/operators/stitch_both.png
  docs/figures/operators/stitch_both_custom.dot
  docs/figures/operators/stitch_left.png
  docs/figures/operators/stitch_left_custom.dot
  docs/figures/operators/stitch_right.png
  docs/figures/operators/stitch_right_custom.dot
  docs/figures/protein_figure_1.dot
  docs/figures/protein_figure_1.svg
  docs/graph_operators.md
Due: none

stitches
  docs/figures/figure_1.png
  docs/figures/generate_dot_files.ipynb
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/split.png
  docs/figures/operators/split_left.png
  docs/figures/operators/split_right.png
  docs/figures/operators/split_right_both.png
  docs/figures/operators/stitch_both.png
  docs/figures/operators/stitch_both_custom.dot
  docs/figures/operators/stitch_left_custom.dot
  docs/figures/operators/stitch_left_mismatch.dot
  docs/figures/operators/stitch_right_custom.dot
  docs/figures/operators/stitches.png
Due: none

clarified overlap left/right/both
  docs/figures/operators.ipynb
  docs/figures/operators/split_right.png
  docs/figures/operators/stitch_both.dot
  docs/figures/operators/stitch_both.png
  docs/figures/operators/stitch_left.dot
  docs/figures/operators/stitch_left.png
  docs/figures/operators/stitch_right.dot
  docs/figures/operators/stitch_right.png
  docs/figures/operators/stitches.png
Due: none

re-rendered
  docs/figures/operators.ipynb
  docs/figures/operators/split.png
Due: none

formatting
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/split_left.png
  docs/figures/operators/split_right_both.png
  docs/figures/operators/stitch_before.dot
  docs/figures/operators/stitch_both.dot
  docs/figures/operators/stitch_both_custom.dot
  docs/figures/operators/stitch_left.dot
  docs/figures/operators/stitch_left_custom.dot
  docs/figures/operators/stitch_left_mismatch.dot
  docs/figures/operators/stitch_right.dot
  docs/figures/operators/stitch_right_custom.dot
  docs/figures/operators/stitch_split.dot
  docs/figures/operators/stitches.png
Due: none

organizing text
  docs/figures/genfig/graph.py
  docs/figures/operators.ipynb
  docs/figures/operators/split_right_both.png
  docs/graph_operators.md
Due: none

Standalone module
  .gitignore
  docs/figures/figure_1.dot
  docs/figures/figure_1.png
  docs/figures/figure_2.dot
  docs/figures/figure_2_symmetrical.dot
  docs/figures/generate_dot_files.ipynb
  docs/figures/operators.ipynb
  docs/figures/protein_figure_1.dot
  docs/figures/python_module/genfig/__init__.py
  docs/figures/python_module/genfig/graph.py
  docs/figures/python_module/setup.py
  docs/graph_operators.md
Due: none
